[submodule "Prefabricator"]
	path = Prefabricator
	url = https://github.com/ProjectBorealis/prefabricator-ue4.git
	branch = master
[submodule "ArcticAnalytics"]
	path = ArcticAnalytics
	url = https://github.com/ProjectBorealis/ArcticAnalytics.git
	branch = master
[submodule "DiscordGameSDK"]
	path = DiscordGameSDK
	url = https://github.com/ProjectBorealis/DiscordGameSDK.git
	branch = master
[submodule "SplashSettings"]
	path = SplashSettings
	url = https://github.com/ProjectBorealis/SplashSettings.git
	branch = main
[submodule "IAUS"]
	path = IAUS
	url = https://github.com/ProjectBorealis/IAUS.git
[submodule "FillDDCForPIE"]
	path = FillDDCForPIE
	url = https://github.com/ProjectBorealis/FillDDCForPIE.git
[submodule "Blast"]
	path = Blast
	url = https://github.com/ProjectBorealis/Blast-UE-Plugin.git
	branch = main
[submodule "ALSV4_CPP"]
	path = ALSV4_CPP
	url = https://github.com/ProjectBorealis/ALS-Community-UE5.git
	branch = main
[submodule "AsyncLoadingScreen"]
	path = AsyncLoadingScreen
	url = https://github.com/ProjectBorealis/AsyncLoadingScreen.git
	branch = master
[submodule "UEGitPlugin"]
	path = UEGitPlugin
	url = https://github.com/ProjectBorealis/UEGitPlugin.git
	branch = release
[submodule "RTXGI"]
	path = RTXGI
	url = https://github.com/ProjectBorealis/RTXGI-UE-Plugin.git
	branch = main
[submodule "VisualStudioTools"]
	path = VisualStudioTools
	url = https://github.com/microsoft/vc-ue-extensions
	branch = main
