[submodule "ArcticAnalytics"]
	path = ArcticAnalytics
	url = https://github.com/ProjectBorealis/ArcticAnalytics.git
	branch = master
[submodule "DiscordGameSDK"]
	path = DiscordGameSDK
	url = https://github.com/ProjectBorealis/DiscordGameSDK.git
	branch = master
[submodule "SplashSettings"]
	path = SplashSettings
	url = https://github.com/ProjectBorealis/SplashSettings.git
	branch = main
[submodule "IAUS"]
	path = IAUS
	url = https://github.com/ProjectBorealis/IAUS.git
	branch = ue5
[submodule "FillDDCForPIE"]
	path = FillDDCForPIE
	url = https://github.com/ProjectBorealis/FillDDCForPIE.git
	branch = master
[submodule "Blast"]
	path = Blast
	url = https://github.com/ProjectBorealis/Blast-UE-Plugin.git
	branch = main
[submodule "AsyncLoadingScreen"]
	path = AsyncLoadingScreen
	url = https://github.com/ProjectBorealis/AsyncLoadingScreen.git
	branch = master
[submodule "UEGitPlugin"]
	path = UEGitPlugin
	url = https://github.com/ProjectBorealis/UEGitPlugin.git
	branch = dev
[submodule "VisualStudioTools"]
	path = VisualStudioTools
	url = https://github.com/ProjectBorealis/vc-ue-extensions
	branch = main
[submodule "StevesUEHelpers"]
	path = StevesUEHelpers
	url = https://github.com/ProjectBorealis/StevesUEHelpers.git
[submodule "BruceBulkImporter"]
	path = BruceBulkImporter
	url = https://github.com/Lost-Cosmonauts/BruceBulkImporter.git
[submodule "Cinemos"]
	path = Cinemos
	url = https://github.com/Lost-Cosmonauts/Cinemos.git
