[submodule "Prefabricator"]
	path = Prefabricator
	url = https://github.com/ProjectBorealis/prefabricator-ue4.git
	branch = master
[submodule "ArcticAnalytics"]
	path = ArcticAnalytics
	url = https://github.com/ProjectBorealis/ArcticAnalytics.git
	branch = master
[submodule "GenericGraph"]
	path = GenericGraph
	url = https://github.com/ProjectBorealis/GenericGraph.git
	branch = master
[submodule "FactionsExtension"]
	path = FactionsExtension
	url = https://github.com/ProjectBorealis/FactionsExtension.git
	branch = master
[submodule "DiscordGameSDK"]
	path = DiscordGameSDK
	url = https://github.com/ProjectBorealis/DiscordGameSDK.git
	branch = master
[submodule "SplineSnappingTool"]
	path = SplineSnappingTool
	url = https://github.com/ProjectBorealis/UE4-SplineSnappingToolPlugin.git
	branch = master
[submodule "SplashSettings"]
	path = SplashSettings
	url = https://github.com/ProjectBorealis/SplashSettings.git
	branch = main
[submodule "IAUS"]
	path = IAUS
	url = https://github.com/ProjectBorealis/IAUS
[submodule "EditorScriptingTools"]
	path = EditorScriptingTools
	url = https://github.com/ProjectBorealis/UE4-EditorScriptingToolsPlugin.git
[submodule "FillDDCForPIE"]
	path = FillDDCForPIE
	url = https://github.com/ProjectBorealis/FillDDCForPIE.git
